/* Base */
* {
    margin: 0px;
    padding: 0px;
}
html { 
    height: 100%;
}
/* Fondo Negro */
body {
    background-color: #1E1E1E ;
    color: #F2F2F2;
    font-family: grotesk-light;
    font-size: 20px;
    height: 100%;
    overflow: hidden;   
}
textarea {
    width: 300px;
    height: 150px;
}

/* Animacion Hover */
a {
    transition: 0.6s;
}
a:hover {
    text-decoration: none;
    color: inherit;
    opacity: 25%;
}

/* Flex */
.centrar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
}
ol {
    margin: 0px;
}
/* Footer */
footer {
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.paddingFooter {
    padding-right: 1%;
    padding-bottom: 3%;
}

/* Listas */
ul li {
    list-style-type: none;
    padding: 25px;
}
ol li {
    list-style-type: none;
    padding: 15px;
}
a {
    text-decoration: none;
    color: inherit;
}

/* Tipografias */
.typeSub{
    font-size: 27px;   
}
.typeTitular {
    font-family: neue_machinamedium;
    font-size: 140px;
    white-space: pre-line;
    letter-spacing: 2px;
    line-height: 150px;
}
.typeSubtitulo {
    font-family: neue_machinamedium;
    font-size: 70px;
    letter-spacing: 2px;
}
.typeFooter {
    font-family: grotesk-light;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.typeBold {
    font-family:grotesk-bold;
}

/* Ajustes Padding */
.padding {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 3%;
    padding-right: 3%
}
.paddingSubtitulo {
    padding-left: 0.4%;
}

/* Grilla */
.gridAlign {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

/* Formulario */
.form {
    background-color: rgba(255, 255, 255, 0.0);
    border: none;
    font-family: grotesk-light;
    font-size: 20px;
    color: #F2F2F2;
}
.paddingForm {
    padding-left: 15%;
}

/* Fondo Portfolio + Animacion */
.trabajoFondo {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0%;
    transition: 0.6s ease;
}
ol li:hover+.trabajoFondo {
    opacity: 100%
}
.trabajoFondo2 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0%;
    transition: 0.6s ease;
}
ol li:hover+.trabajoFondo2 {
    opacity: 100%
}
.trabajoFondo3 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0%;
    transition: 0.6s ease;
}
ol li:hover+.trabajoFondo3 {
    opacity: 100%
}
.trabajoFondo4 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0%;
    transition: 0.6s ease;
}
ol li:hover+.trabajoFondo4 {
    opacity: 100%
}

/* Scroll Vertical */
.scrollVertical {
    overflow-x: hidden;
    background-color: #F2F2F2;
    color: #1E1E1E;
}
.scrollVerticalPages {
    height: 100vh;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 7px;
    background-color: #F2F2F2;
}
::-webkit-scrollbar-thumb {
    height: 5px;
    border-radius: 12px;
    background-color: #1E1E1E;
}
/* Imagen Responsive */
.ajusteScrollResponsive{
    max-width: 100%;
    height: auto;
}

/* Navbar Custom */
.nav-link-custom {
    color: #f2f2f2;
}
.nav-link-custom-light {
    color: #1e1e1e;
}